azul = #22BCE0
gris_claro = #AAA
gris_oscuro = #444

header
	background azul
	color gris_oscuro

	.titular
		background blue
		width 50%
		.iniciales
			background red
			border-right 1px solid gris_oscuro
			float left
			font-size 50px
			text-shadow 5px 5px 1px rgba(gris_oscuro, 0.5)
			width 4em

		.ful_nombre
			background green
			font-size 20px
			width 70%

			.parte_uno
			.parte_dos
				margin 0
				padding 0
			
